* {
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
}

body,
html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.back {
  display: flex;
  flex-flow: column nowrap;
  background-color: #111;
  height: 100%;
  width: 100%;
  align-items: center;
  /* justify-content: space-between; */
}

.topbar {
  margin-top: 1rem;
}

.main {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  max-width: 1200px;
  width: 90%;
  max-height: calc(100% - 3rem);
}

.main>* {
  border-radius: 0.3rem;
}

.filter {
  flex: 3 0;
  border: #444 solid 2px;
  margin: 1rem;
}

.view {
  flex: 7 0;
  border: #444 solid 2px;
  margin: 1rem;
  color: #ccc;
  overflow-y: auto;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  background-color: #111;
}

::-webkit-scrollbar {
  width: 3px;
}

@media screen and (max-width: 1000px) {
  .main {
    flex-flow: column nowrap;
  }
}